(
    path: "maps/archipelago_small.txt",
    players: [(
        id: (0),
        color: 0x00aa0000,
        civilization: "Britons",
        place_hero: true,
        controller: Machine(StrongBoulder),
    ), (
        id: (3),
        color: 0x00ccffff,
        civilization: "Mongols",
        place_hero: true,
        controller: Machine(WeakBoulder),
    )]
)
